@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
  }
  h1 {
    font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
  }
  h3 {
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  h4 {
    font-family: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
    font-size: 1.25rem;
    font-style: italic;
  }
}

.container {
  @apply p-2 max-w-[1200px];
}

.container-hug {
  @apply max-w-[1200px] mx-auto;
}

.app {
  @apply min-h-lvh flex flex-col;
  
}

.footer {
  @apply mt-auto p-4;
}

.asymatrical-left {
  clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);
}

.asymatrical-right {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 0);
}

.venue-card::before {
  @apply content-[''] absolute top-0 right-0 bottom-0 left-0 outline outline-daze-white outline-1 -outline-offset-[10px] z-10 pointer-events-none;
}

.cards-grid {
  @apply grid grid-cols-[repeat(auto-fit,minmax(18rem,_1fr))] gap-5 justify-items-center;
}

